*,
html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #c5e4e7;
  font-family: "Space Mono", monospace;
  font-weight: bold;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
}

html,
body {
  min-width: 375px;
}

#img-div {
  margin: 50px 0;
  display: flex;
  justify-content: center;
}

.container {
  width: 920px;
  height: 481px;
  background-color: #ffffff;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  border: 1px solid #ffffff;
  border-radius: 25px;
  padding: 32px;
}

/*****************************************.container1*************************/

.container1 {
  width: 413px;
  height: 417px;
  display: flex;
  flex-flow: row wrap;
  justify-content: start;
  padding: 13px 16px 16px 16px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

input {
  background-color: #9FE8DF;
  width: 380px;
  height: 48px;
  border: 1px solid #9FE8DF;
  border-radius: 5px;
  padding: 5px 16px;
  font-size: 24px;
  font-weight: bold;
  font-family: "Space Mono", monospace;
  line-height: 36px;
  font-style: normal;
  color: #00474b;
}


#little-input {
  cursor: pointer;
  width: 117px;
  height: 48px;
  background-color: #9FE8DF;
  color: #547878;
  text-align: center;
  padding: 5px 10px !important;
  color: #00474B;
}

#bill-input {
  background-image: url("images/icon-dollar.svg");
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 15px;
  margin-bottom: 20px;
}

#people-input {
  background-image: url("images/icon-person.svg");
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 15px;
}

input:focus{
  outline: none;
  border: 2px solid #26C2AE;
}

.error-border{
 border:  2px solid #E17052;
}

.btn {
  cursor: pointer;
  width: 117px;
  height: 48px;
  background-color: #00474b;
  color: #ffffff;
  border: 1px solid #00474b;
  border-radius: 5px;
  font-size: 24px;
  font-weight: bold;
  font-family: "Space Mono", monospace;
  transition-duration: 0.5s;
}

.active,
.btn:hover {
  background-color: #9fe8df;
  color: #00474b;
  border: 1px solid #9fe8df;
}

.btn-holder {
  width: 380px;
  height: 152px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 10px 0;
}

.con1-p {
  margin-bottom: 6px;
  color: #5e7a7d;
  font-size: 16px;
}

/****************************************************container2***********************************/

.container2 {
  background-color: #00474b;
  width: 413px;
  height: 417px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  border-radius: 15px;
  padding: 40px;
}

.holder {
  width: 333px;
  height: 71px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.small-font {
  font-size: 13px;
  color: #7f9d9f !important;
}

.p-holder {
  padding-top: 20px;
}

.p-holder > p {
  color: #ffffff;
}

.con2-h1 {
  color: #26c2ae;
  font-size: 48px;
  max-width: 220px;
}

#reset-btn {
  width: 333px;
  height: 48px;
  background-color: #9FE8DF;
  color: #00474b;
  font-size: 20px;
  font-family: "Space Mono", monospace;
  font-weight: bold;
  margin-top: 122px;
  border: 1px solid #00474b;
  border-radius: 5px;
}

#reset-btn[disabled=disabled], #reset-btn:disabled {
  border: 1px solid #00474B;
  background-color: #0D686D;
  color: #00474B;
}

.error1,
.error2,
.error3 {
  visibility: hidden;
  margin-left: auto;
  color: red !important;
}

.attribution {
  margin-top: 50px;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/*************************** media query ****************************/

@media screen and (max-width: 920px) {
  #img-div {
    margin: 50px 0 40px 0;
  }
  .container {
    width: 375px;
    height: 789px;
    padding: 32px 24px;
  }
  .container1 {
    width: 375px;
    height: 500px;
    padding: 0 32px;
  }
  input {
    width: 310px;
  }
  #bill-input,
  #people-input {
    margin-bottom: 32px;
  }
  button,
  #little-input {
    margin: 5px 0;
    width: 146px;
    height: 48px;
  }
  .btn-holder {
    height: auto;
    margin-bottom: 32px;
  }
  .container2 {
    width: 327px;
    height: 257px;
    padding: 37px 22px 24px 24px;
  }

  .holder {
    width: 281px;
    height: 48px;
    margin-bottom: 20px;
  }
  .con2-h1 {
    font-size: 32px;
  }
  .p-holder {
    padding-top: 5px;
  }
  #reset-btn {
    width: 281px;
    height: 48px;
    margin-top: 12px;
  }
}
