*,
html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #c5e4e7;
  font-family: "Space Mono", monospace;
  font-weight: bold;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
}

#img-div {
  margin: 50px 0;
  display: flex;
  justify-content: center;
}

.container {
  width: 920px;
  height: 481px;
  background-color: #ffffff;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  border: 1px solid #ffffff;
  border-radius: 25px;
  padding: 32px;
}

.container1 {
  width: 413px;
  height: 417px;
  display: flex;
  flex-flow: row wrap;
  justify-content: start;
}

.container2 {
  background-color: #00474b;
  width: 413px;
  height: 417px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  border-radius: 15px;
  padding: 40px;
}

/*****************************************.container1*************************/

input {
  background-color: #f3f9fa;
  width: 380px;
  height: 48px;
  border: 1px solid #f3f9fa;
  border-radius: 5px;
  padding: 5px 3px;
  transition: 0.3s;
  font-size: 24px;
  font-weight: bold;
  color: #00474b;
}

input:focus {
  outline: none !important;
  border: 2px solid #26c2ae;
}

#little-input {
  width: 117px;
  height: 48px;
  padding: 5px 12px;
  font-size: 24px;
}

#bill-input {
  background-image: url("images/icon-dollar.svg");
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 15px;
  margin-bottom: 20px;
}

#people-input {
  background-image: url("images/icon-person.svg");
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 15px;
}

button {
  cursor: pointer;
  width: 117px;
  height: 48px;
  background-color: #00474b;
  color: #ffffff;
  border: 1px solid #00474b;
  border-radius: 5px;
  font-size: 24px;
  font-weight: bold;
}

button:hover {
  background-color: #9fe8df;
  color: #00474b;
  border: 1px solid #9fe8df;
}

.btn-holder {
  width: 379px;
  height: 152px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 10px 0;
}

p + input {
  margin-right: 50px;
}

.container1 > p {
  color: #5e7a7d;
}

/****************************************************container2***********************************/

.small-font {
  font-size: 13px;
  color: #7f9d9f !important;
}

.p-holder {
  padding-top: 20px;
}

.p-holder > p {
  color: #ffffff;
}

.holder > h1 {
  color: #26c2ae;
  font-size: 48px;
}

.holder {
  width: 333px;
  height: 71px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

#reset-btn {
  width: 333px;
  height: 48px;
  background-color: #26c2ae;
  color: #00474b;
  font-size: 20px;
  margin-top: 122px;
  border: 1px solid #00474b;
}

#reset-btn:hover {
  color: #ffffff;
}

/*************************** media query ****************************/

@media screen and (max-width: 920px) {
  .container {
    width: 375px;
    height: 789px;
    padding: 24px;
  }
  .container1 {
    width: 375px;
    padding: 20px 32px;
  }
  .container2 {
    width: 327px;
    height: 256px;
    padding: 37px 24px;
    margin-top: 32px;
  }
  input {
    width: 310px;
  }
  #bill-input {
    margin-bottom: 32px;
  }
  button,
  #little-input {
    margin: 5px 0;
    width: 146px;
    height: 48px;
  }
  .btn-holder {
    height: auto;
    margin-bottom: 32px;
  }
  #reset-btn {
    width: 281px;
    height: 48px;
    margin-top: 0;
  }
}
